* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 8px 200px 64px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8px 200px 64px;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 0px;
    padding: 8px 24px;
    width: 125px;
    font-size: 18px;
    color: #F9FAF8;
}

img {
    width: 500px;
    height: auto;
}

h3 {
    text-align: center;
}

.infos {
    display: flex;
    justify-content: center;
    gap: 24px;
}