body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
}

.header-bottom {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}